body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f9f9f9;
    text-align:justify;
  }
  
  .profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .left-column {
    width: 15%;
    background-color: lightblue;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .right-column {
    width: 80%;
    background-color: #faf6e8;
    padding: 70px;
    border-radius: 5px;
  }
  
  .profile-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 2px 20px black;
  }
  
  .skills {
    margin-top: 20px;
  }
  
  .skills h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .skills li {
    margin-bottom: 5px;
  }
  
  .hobbies {
    margin-top: 20px;
  }
  
  .hobbies h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .hobbies ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .hobbies li {
    margin-bottom: 5px;
  }
  
  .contact {
    margin-top: 20px;
    align-items: left;
  }
  
  .contact h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .contact li {
    margin-bottom: 5px;
  }
  
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .social-media {
    margin-top: 20px;
  }
  
  .social-media h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .social-media ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-media li {
    margin-bottom: 5px;
  }
  
  h2 {
    color: #333;
    margin-top: 40px;
  }
  
  video, audio {
    width: 100%;
    display: block;
    margin: 20px auto;
  }